
body, h1, h2, h3, p, div {
  margin: 0;
  padding: 0;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  z-index: 100;
  background-color: #fff; 
  height: 60px; 
  border-bottom: 1px solid #ccc; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-wrapper {
  min-width: 1200px;
  margin-top: 60px; 
}


.content {
  padding: 20px;
}

